/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define DEFAULT 0
#define FUNCTION 1

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&mkp LCLK       &kp ESC      &kp F1    &kp F2        &kp F3      &kp F4     &kp F5            &kp EXCL      &kp AT      &kp POUND   &kp DLLR      &kp PRCNT   &kp CARET    &kp AMPS
			&mkp MCLK       &kp APOS     &kp N1    &kp N2        &kp N3      &kp N4     &kp N5            &kp STAR      &kp LPAR    &kp RPAR    &kp EQUAL     &kp PLUS    &kp MINUS    &kp UNDER
			&mkp RCLK       &kp TAB      &kp Q     &kp W         &kp E       &kp R      &kp T             &kp FSLH      &kp QMARK   &kp BSLH    &kp PIPE      &kp NUBS    &kp PIPE2    &kp SEMI 
			&msc SCRL_UP    &kp CAPS     &kp A     &kp S         &kp D       &kp F      &kp G             &kp COLON     &kp APOS    &kp DQT     &kp COMMA     &kp LT      &kp DOT      &kp GT 
            &msc SCRL_DOWN  &kp LSHFT    &kp Z     &kp X         &kp C       &kp V      &kp B             &kp LBKT      &kp LBRC    &kp RBKT    &kp RBRC      &kp GRAVE   &kp TILDE    &kp NUHS 
			&none           &none        &none     &mo FUNCTION  &kp HOME    &kp DEL    &kp ENTER         &kp BSPC      &kp SPACE   &kp LEFT    &kp RIGHT     &kp RWIN    &kp K_CMENU  &kp TILDE2
			&kp DOWN        &kp LCTRL    &kp LWIN  &kp LALT      &kp UP      &kp SPACE  &kp BSPC          &kp ENTER     &kp DEL     &kp END     &mo FUNCTION  &none       &none        &none  
			>;
		};
		
		functions_layer {
			bindings = <
			&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &out OUT_TOG  &bt BT_CLR  &kp C_PP         &none  &none  &none  &none           &none        &none 
			&sys_reset    &bootloader   &studio_unlock  &none         &none         &none         &none       &kp C_VOL_UP     &none  &none  &none  &studio_unlock  &bootloader  &sys_reset
			&none         &none         &none           &none         &none         &none         &none       &kp C_VOL_DN     &none  &none  &none  &none           &none        &none 
			&none  	      &none         &none           &none         &none         &none         &none       &kp PAUSE_BREAK  &none  &none  &none  &none           &none        &none 
            &none         &none         &none           &none         &none         &none         &none       &kp PSCRN        &none  &none  &none  &none   	    &none        &none 
			&none         &none         &none           &none         &none         &none         &none       &none            &none  &none  &none  &none           &none        &none 
			&none         &none         &none           &none         &none         &none         &none       &none            &none  &none  &none  &none           &none        &none     
			>;
		};
	};

	
};

/ {
    bt-cosmo {
        compatible = "zmk,bluetooth";
        local-name = "Cosmos Keyboard";
    };
};